<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: Book.new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tr id="book-<%= @book.id %>">
				<%= render 'books/book_record', book: @book %>
			</tr>
		</table>

		<div id="book-comments-table">
			<%= render 'book_comments/book_comments_table', book: @book %>
		</div>

		<div id="error-message">
			<%= render 'layouts/error_message', model: @book_comment %>
		</div>

		<h4>New comment</h4>
		<%= render 'book_comments/new_book_comment', { book: @book, book_comment: @book_comment } %>

	</div>
</div>
