<!DOCTYPE html>
<html>
  <head>

    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <script>
      function targetAction()
      {
        var formName = document.getElementById("searchForm");
        // console.log(formName);
        var obj = document.getElementById('targetSelect');
        // console.log(obj);
        var idx = obj.selectedIndex;
        var value = obj.options[idx].value;
        formName.action = value;
        // console.log(formName.action);
      }
      </script>
    <% end %>

  </head>

  <body style="padding-top: 10px;">
    <!--ヘッダーの記述-->
    <%= render "layouts/header" %>

    <% if notice.present? %>
      <p id="notice" class="alert alert-success"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->
    <% end %>

    <% if alert.present? %>
      <p id="alert" class="alert alert-warning"><%= alert %></p> <!--デバイスでalert設定されているので呼び出してるだけ-->
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
