<!DOCTYPE html>
<html>
  <head>

    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6bb1565f31.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
    function targetAction(obj)
    {
      var idx = obj.selectedIndex;
      var value = obj.options[idx].value;
      var formName = document.getElementById("searchForm");
      formName.action = value;
    }
    </script>
  </head>

  <body>
    <!--ヘッダーの記述-->
    <%= render "layouts/header" %>

    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->
      <%= yield %>
    </div>

  </body>
</html>
